.seat {
    margin: 2px;
    padding: 3px;
    border-radius: 2px;
    width: 19px;
    text-align: center;
    -webkit-transition: all 0.4s ease;
    -o-transition: all 0.4s ease;
    transition: all 0.4s ease;
    background-color: #1e1f26;
    border: 1px solid #FFF;
    cursor: pointer;
}